body {
    height: 100%;
    background: linear-gradient(
        110deg, 
        rgb(214, 202, 187) 60%, 
        #d3c3ab 60%
    );
}

h1 {
    background-color:#ECDEC9;
    padding:10px 15px;
    font-family: 'Oswald', sans-serif;
    font-size:large;
    margin-left:20%;
    margin-right:20%;
}

h2 {
    text-align: center;
}

p {
    font-family: 'Oswald', sans-serif;
    margin-left: 10px;
    margin-left:25%;
    margin-right: 25%;
    background-color: rgb(245, 230, 209);
    padding:10px 15px;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px;
    padding: 10px;
}
